html {}

.textarea
{
    padding: 10px;
    position: absolute;
    top: 56px;
    left: 366px;
    right: 0;
    bottom: 0;
    border: 2px solid white;
    background: white;
    color: black;
}

header
{
    position: fixed;
    top: -2px;
    left: -2px;
    right: -2px;
    border: 2px solid grey;
    background: black;
    color: white;
}

.mainbar
{
    padding: 10px;
    position: fixed;
    top: 56px;
    left: 0;
    right: 500px;
    bottom: 0;
    border: 2px solid black;
    background: black;
    color: white;
}

.redtext
{
    color: red;
}

.button
{
    border: 2px solid black;
    background: black;
    width: 40px;
}

.button:hover
{
    border: 2px solid #292929;
    background: #292929;
}
